.new-data {
  width: 800px;
  margin-left: 30px;
}

.category {
  width: 800px;
  border: 1px solid #dae1e6;
  margin-bottom: 10px;
}

.btn-box {
  width: 100px;
  height: 50px;
  border: 1px solid #dae1e6;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  font-weight: bold;
}

.btn-box:hover {
  background-color: rgb(211, 211, 211);
}

.entertain,
.sports,
.car,
.webtoon,
.economy,
.ott,
.recipe,
.living {
  width: 800px;
  display: none;
}

.entertain-2,
.sports-2,
.car-2,
.webtoon-2,
.economy-2,
.ott-2,
.recipe-2,
.living-2 {
  width: 800px;
  display: flex;
}

.img-size {
  overflow: hidden;
  width: 400px;
  cursor: pointer;
}

.img-box {
  width: 400px;
  height: 270px;
  transition: all 0.3s ease-in-out;
}

.img-box:hover {
  transform: scale(1.1);
}
